Source: kdegraphics
Section: kde
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdelibs5-dev (>=4:3.97.0),
 libpoppler-qt-dev (>=0.6.1-1), libpoppler-qt4-dev  (>=0.6.1-1), libsane-dev, libtiff4-dev, libgphoto2-2-dev,
 imlib11-dev, libchm-dev, libdjvulibre-dev, libxxf86vm-dev, libqimageblitz-dev,
 libexiv2-dev, libgs-dev
Standards-Version: 3.7.3

Package: kdegraphics
Architecture: all
Depends: kolourpaint4, ksnapshot, gwenview
Description: graphics applications from the official KDE4 release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of graphics applications
 provided with the official release of KDE4.

Package: kcolorchooser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE4's color chooser
 Kcolorchooser is a color chooser for KDE4.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: kruler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a screen ruler and color measurement tool for KDE4
 Kruler is a screen ruler (using pixels) and color measurement tool for KDE4.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: kolourpaint4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a simple paint program for KDE4
 KolourPaint is a very simple paint program for KDE4. It aims to be
 conceptually simple to understand; providing a level of functionality
 targeted towards the average user. It's designed for daily tasks like:
 .
  * Painting - drawing diagrams and "finger painting"
  * Image Manipulation - editing screenshots and photos; applying effects
  * Icon Editing - drawing clipart and logos with transparency
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: kscan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE4's scanner library.
 It provides an easy-to-use library, which allows you to access to your 
 scanner, or camera. as long as it is sane compatible.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: ksnapshot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: screenshot utility for KDE4
 KSnapshot is a simple applet for taking screenshots. It is capable of
 capturing images of either the whole desktop or just a single window.
 The images can then be saved in a variety of formats.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: gwenview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: image viewer for KDE4
 Gwenview is an image viewer for the K Desktop Environment. It features a
 folder tree window and a file list window to provide easy navigation of your
 file hierarchy. Gwenview uses docked windows, so you can alter its layout
 any way you wish. You can also browse your images in full-screen mode, or
 embedded within Konqueror using the Gwenview Image Browser View and Kpart.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: kamera
Architecture: any
Depends: ${shlibs:Depends}
Description: digital camera io slave for konqueror
 This is a digital camera io_slave for KDE which uses gphoto2 and libgpio
 to allow access to your camera's pictures with the URL camera:/
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: kdegraphics-strigi-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: strigi metainfo plugins for kdegraphics4
 This package includes the strigi metainfo plugins for kdegraphics 
 applications. 
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: okular
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: document viewer for KDE4
 Okular allows you to view documents in many formats:
  * postscript
  * pdf
  * OpenDocument format (odf)
  * comic books
  * dvi files
  * and several others
 .
 With additionally backends installed, it also provides support
 for:
  * chm files
  * tiff files
  * djvu files
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: libokularcore1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: core library for okular, KDE4 document viewer
 This package contains the core library for okular.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: okular-dev
Architecture: any
Depends: libokularcore1 (= ${source:Version}), libqt4-dev
Description: development files for okular
 Development headers used when writing backends for okular.
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: okular-extra-backends
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: extra backends for okular
 This package allow you view additional documents formats with okular: 
  * chm files
  * tiff files
  * djvu files
 .
 This package is part of KDE4, as a component of the KDE4 graphics module.
 See the 'kde' and 'kdegraphics' packages for more information.

Package: kdegraphics-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-dbg
Description: debugging symbols for kdegraphics
 This package contains the debugging symbols associated with kdegraphics.
 They will automatically be used by gdb for debugging kdegraphics-related
 issues.
