#!/usr/bin/make -f
 
include debian/cdbs/kde.mk

DEB_DH_MAKESHLIBS_ARGS_libokularcore1 := -V #'libokularcore1 (>= 4:4.1.86)'
DEB_DH_MAKESHLIBS_ARGS_libksane0 := -V #'libksane (>= 4:4.1.86)'
DEB_DH_MAKESHLIBS_ARGS_libkdcraw7 := -V #'libkdcraw7 (>= 4:4.1.86)'
DEB_DH_MAKESHLIBS_ARGS_libkexiv2-7 := -V#'libkexiv2-7 (>= 4:4.1.86)'
DEB_DH_MAKESHLIBS_ARGS_libkipi6 := -V#'libkipi6 (>= 4:4.1.86)'
