#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

.PHONY: override_dh_auto_test

override_dh_makeshlibs:
	$(overriden_command) -V

override_dh_shlibdeps:
	$(overriden_command) $(foreach p,$(shell dh_listpackages | grep ^lib),-p$p) -- -xkdebase-runtime
	$(overriden_command) --remaining-packages

override_dh_strip:
	$(overriden_command) --dbg-package=kdegraphics-dbg
